<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Head</title>
    <meta name="description" content="Description of the site">
    <meta name="author" content="content auther">

    <link rel="stylesheet" href="http://content.<%= domain %>/public/css/tailwind.css">
</head>